* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

nav {
  min-height: 5rem;
  padding: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 8px;
  min-height: 3rem;
  margin: 2rem 0;
  border: solid 0px;
  color: white;
}
h1 {
  text-align: center;
}
img {
  float: center;
  margin: auto;
  max-height: 30px;
  width: 45px;
}
.Header {
  padding: 0 1rem 2rem 1rem;
}
.englishColors button {
  background: #282c34;
}
.spanishColors button {
  background: darkcyan;
}
.englishColors {
  color: #282c34;
  background: darkcyan;
  padding-bottom: 5rem;
  text-align: justify;
  animation: mymove 1s ease;
  min-height: 100vh;
}

.spanishColors {
  color: darkcyan;
  background-color: #282c34;
  min-height: 100vh;
  text-align: justify;
  padding-bottom: 5rem;
  animation: spanish 1s ease;
}

@keyframes spanish {
  0% {
    background: darkcyan;
  }

  100% {
    background-color: #282c34;
  }
}
@keyframes mymove {
  0% {
    background-color: #282c34;
  }

  100% {
    background: darkcyan;
  }
}
